
<div *ngIf="!sprintRun" class="alignAll container">
  <div class="card card-body mainCard">
  <h4>Start a sprint!</h4>
  <br>
    <div  class="" >
    <select name="selectLength" (change)="selectChangeHandler($event)" class="select">
        <option  value="Instant  (5s) " class="ng-star-inserted"> Instant (5s) </option>
        <option  value="Very short (5min) "  class="ng-star-inserted"> Very short (5min) </option>
        <option  value="Short (15min) " class="ng-star-inserted"> Short (15min) </option>
        <option  value="Pomodoro (25min) " class="ng-star-inserted"> Pomodoro (25min) </option>
        <option  value="Long (45min) " class="ng-star-inserted"> Long (45min) </option>
        <option  value="Very long (60min) " class="ng-star-inserted"> Very long (60min) </option>
      </select>
     
      <label  class="label chooseLenght">Choose length *</label>
      
    </div>

    <div class="middleContent">
      <div class="label" >
        <label>Description *</label>
      </div>
      <textarea (change)="descriptionChangeHandler($event)" name="description" placeholder="What will you be doing?" rows="3" style="width:200px;" ></textarea>
      <div  class="label requiredTag">
        <label >Required</label
          ></div>
        </div>


        <div>
          <div  class="checkbox">
            <label >
              <input  formcontrolname="notify" checked=true type="checkbox" class="">
            
              <span></span> Notify when completed </label>
           </div>
        </div>


          <div >
            <button id="btnStart" [disabled]="descriptionEmpty" class="btn btn-secondary btn-lg" type="submit" (click)="startSprint()">Start</button>
          </div>
        
      </div>
    </div>

    <div id="home" class="alignAll container" *ngIf="sprintRun">
   
        <circle-progress
       
        [title]="auto"
        [radius]="100"
        [maxPercent]="100"
        [titleFormat]="getPercent()"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(63, 81, 181)'"
        [innerStrokeColor]="'rgb(63, 81, 181)'"
        [animation]="true"
        [titleFontSize] = '30'
        [animationDuration]= "sprintDuration * 1000"
      
        ></circle-progress>
        <p>Focus fully on your task</p>  
        <button id="btnStop" (click)="stopSprint()" class="btn btn-secondary btn-danger" data-toggle="modal" data-target="#ModalCurrentSprint" >Stop</button>      
    </div>
    <!-- Modal Current Sprint -->
<div class="modal fade" id="ModalCurrentSprint" tabindex="-1" role="dialog" aria-labelledby="ModalCurrentSprintTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >On hold. Cancel sprint?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
          <button class="btn btn-danger" (click)="sprintEnd()" data-toggle="modal" data-target="#ModalSprintResult">Yes</button>
        </div>
      </div>
    </div>
  </div>
 
   
 
