
<div class="example-container mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- lenght Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> lenght </th>
      <td mat-cell *matCellDef="let element" class="isbn-col"> {{element.name}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
    </ng-container>
    <!-- Start Column -->
    <ng-container matColumnDef="startedAt">
      <th mat-header-cell *matHeaderCellDef> Start </th>
      <td mat-cell *matCellDef="let element"> {{element.startedAt}} </td>
    </ng-container>
    <!-- finish Column -->
    <ng-container matColumnDef="finishedAt">
      <th mat-header-cell *matHeaderCellDef> Finish </th>
      <td mat-cell *matCellDef="let element"> {{element.finishedAt}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>
</div>


<div class="container d-flex justify-content-around">
  <button class="button-content " type="submit" data-toggle="modalPast" data-target="#ModalSprintResult">Delete all data</button>
</div>
 <!-- Modal Sprint Result -->
 <div class="modal fade sizeBlock" id="ModalSprintResult" tabindex="-1" role="dialog" aria-labelledby="ModalSprintResultTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Deletion is irreversible. Are you sure?</h5>         
        </div>
        <div class="modal-body">
        <p>The only information concerning your user that we store are your past sprints. We do not store information about your user itself.</p><br>
          <p> Delete to eliminate all records.</p>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modalPast">No</button>
          <button class="btn btn-danger" (click)="deleteAll()" data-toggle="modalPast" data-target="#ModalSprintResult">Yes</button>
        </div>
      </div>
    </div>
  </div>